h1 {
    font-family: system-ui;
}

header {
    font: 0.5rem system-ui;
    display: flex;
    justify-content: space-around;
    border: 2px solid lightblue;
    border-radius: 10px;
    margin-bottom: 4px;
    min-width: 30em;
    align-items: center;
}
